.container {

  display: flex;
  justify-content: center;
  webkit-justify-content: center;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.infoCard {
  width: 580px;

}

Form {
  margin: 30px;
}

img {
  width: 30px;
  height: 30px;
}
.submitBtn{
    margin-left: auto;
}
.off {
  width: 100%;
}

.on {
  width: 100%;
}

@media (max-width: 650px) {
    .日期 {
        width: 100%;
    }
}
