.container {
  display: flex;
  justify-content: center;
  webkit-justify-content: center;
  transition: all 0.1s;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.infoCard {
    width: 580px;
    max-width: 100%;
    height: auto;
    background-image: url("images/FoodInfo-bg5.png");
    background-size: 500px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-attachment: scroll;
}

.infoForm {
  margin: 30px;
}

.foodinfoImg {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

Img{
    width:50px;
    height: 50px;

}

.off {
  width: 100%;
}

.on {
  width: 100%;
}

.deadline {
  margin-left: 15px;
}

.alarm {
  margin-left: 15px;
}

@media (max-width: 650px) {
    .infoCard {
        width: 100%;
        background-size: 100%;
    }
}
