.freezer {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3), 0 0 1rem rgba(0, 0, 0, 0.7);
    padding: 3rem ;
    position: relative;

    width: 130%;
    max-width: 35rem;
    margin: 0 auto;
    transition: all 0.3s;
    opacity: 1;
}
.btn-freezer{
    margin: 1rem ;
    margin-left: auto;

}
.veg {
    width: 2.5rem;
    height: 2.5rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #ffa;
    margin-bottom: 0.1rem;
}

.meat{
    width: 15rem;
    height: 15rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #FFBB77;
    margin-bottom: 0.1rem;    
}

.seafood {
    width: 15rem;
    height: 15rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #8df;
    margin-bottom: 0.1rem;    
}

.fruit{
    width: 15rem;
    height: 15rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #A6FFA6;
    margin-bottom: 0.1rem;      
}

.eggMilk{
    width: 15rem;
    height: 15rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #aaf;
    margin-bottom: 0.1rem;   
}
.sauce{
    width: 15rem;
    height: 15rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #fcf;
    margin-bottom: 0.1rem;   
}

.leftover{
    width: 15rem;
    height: 15rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #faf;
    margin-bottom: 0.1rem;   
}