.inline {
  display: inline-block;
  float: left;
  margin-left: 0.2rem;
}

.child {
  width: 20rem;
  height: 22rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.內部 {
  width: 5rem;
  height: 7rem;
  display: inline-block;
}

.fontSize {
  font-size: 1rem;
}
