.freezer {
    color: rgb(55, 55, 55);
    text-align: center;
    transition: all 0.3s;
    opacity: 1;
    justify-content: center;
    font-family: '微軟正黑體';
    margin: 3rem auto;
    padding-top: 3rem;
}

.title {
  font-family: 'Chewy', cursive;
  margin-top: 1rem;
}

.freezerSize {
    width: 20rem;
    height: 30rem;
}
@media (max-width: 650px) {
  .freezerSize {
    margin-top: 1rem;
      width: 100%;
  }
  #addItem {
    margin-bottom: 1rem;
  }
}

#addItem {
  margin-left: 10rem;
}

.第一{
    width: 100%;
}

.veg {
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 80%;
    background-color: #ffa;
    margin-bottom: 0.1rem;
}

.meat{
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #FFBB77;
    margin-bottom: 0.1rem;
}

.seafood {
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #abcfff;
    margin-bottom: 0.1rem;
}

.fruit{
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #A6FFA6;
    margin-bottom: 0.1rem;
}

.milkegg{
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #aaf;
    margin-bottom: 0.1rem;
}
.sauce{
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #ffb3c9;
    margin-bottom: 0.1rem;
}

.cooked{
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #dab8fc;
    margin-bottom: 0.1rem;
}
