.main {
    height: 100%;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
}

.bg {
    height: 100%;
    background-image: url("images/bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.inside {
    background:rgba(255,255,255,0.6);
}

.main .refrige-bg {
    /*background-image: url('images/refrige_open.jpg');*/
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: 600px,2000px;
    background-repeat: no-repeat;
}

.main .footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 3rem;
}
