.inlineRef {
    display: inline-block;
    float: left;
    margin-left: 0.5rem;
    
}

.childRef {
  width: 20rem;
  height: 22rem;
  overflow: auto;
}

.內部Ref {
  width: 5rem;
  height: 7rem;
  display: inline-block;
}

.fontSizeRef {
  font-size: 1rem;
}
/*.today {
    padding: 1rem;
}

.today .weather {
    width: 100%;
    max-width: 24rem;
    margin: 0 auto;
}

.today .posts {
    width: 100%;
    max-width: 34rem;
    margin: 0 auto;
}

.today .posts .loading {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}*/
