.refrige{
    color: #fff;
    text-align: center;
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3), 0 0 1rem rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
    opacity: 1;
    justify-content: center;
}
.refrigeSize {
  width: 20rem;
  height: 30rem;
}

#addItemRef {
  margin-left: 10rem;
}

.btn-refrige{
    margin: 1rem ;
    margin-left: auto;

}

.第一{
    width: 100%;
}

.蔬菜 {
    width: 2.5rem;
    height: 2.5rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 80%;
    background-color: #ffa;
    margin-bottom: 0.1rem;
}

.肉類{
    width: 2.5rem;
    height: 2.5rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #FFBB77;
    margin-bottom: 0.1rem;
}

.海鮮 {
    width: 2.5rem;
    height: 2.5rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #8df;
    margin-bottom: 0.1rem;
}

.水果{
    width: 2.5rem;
    height: 2.5rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #A6FFA6;
    margin-bottom: 0.1rem;
}

.蛋奶{
    width: 2.5rem;
    height: 2.5rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #aaf;
    margin-bottom: 0.1rem;
}
.調味料{
    width: 2.5rem;
    height: 2.5rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #fcf;
    margin-bottom: 0.1rem;
}

.熟食{
    width: 2.5rem;
    height: 2.5rem;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 99%;
    background-color: #faf;
    margin-bottom: 0.1rem;
}
