.timeOutMain{
    /*margin-left: 31%;*/
    /*margin-right: 31%;*/
    text-align: center;
    margin: 0rem, auto;
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: rgba(0,0,0,0.3);
}
.warnImg{
    margin-left: auto;
    margin-right: auto;

    width: 30rem;
    height: 35rem;
    /*border-radius: 10%;*/
}
.notification{
    text-align: center;
    margin: 1rem, auto;
    /*width: 30rem;*/
}
.提醒字內容{
	width: 30rem;
	height: 4rem;
	background-color: #6ce;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    border: none;
}
.字{
    color: #707;
    font-size: 1.5rem;
	/*margin-top: 0.5rem;*/
    /*margin-bottom: auto;*/
}

.按鈕{
    margin-top: 0.39rem;
	margin-right: auto;
    margin-left: auto;
    text-align: center;
}
